
h1, h2, h3, h4, h5, .card-body>.card-title {
  font-family: 'Fredoka One', cursive;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
  color: white;
}

.jumbotron h2 {
  color: #CEC8FF;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.footer-image {
    max-height: 150px;
  }

  .card-title {
    color: black;
      font-weight: 500;
      font-size: 1.25rem;

  }
  .card-body {
    color: rgba(0, 0, 0, 0.5);
   }

  .card-img-overlay .card-title {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .row__posters {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px;
  }
  
  .row__posters::-webkit-scrollbar {
    display: none;
  }
  
  .row__poster {
    width: 100%;
    object-fit: contain;
 
    margin-right: 10px;
    transition: transform 450ms;
  }
  
  .row__posterLarge {
    max-height: 250px;
  }
  
  .row__posterLarge:hover {
    transform: scale(1.09);
  }
  
  .row__poster:hover {
    transform: scale(1.08);
  }

  /*==============================
NAVBAR STYLES
==============================*/

.navbar-brand {
padding:0px;

}
.navbar-brand img {
    height:50px;
}
.navbar-default .navbar-toggle {
  border-color: #FFF;
}

  .navbar-default .navbar-toggle .icon-bar {
      background-color: #FFF;
  }

  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: rgba(0, 0, 0, 0);
  }

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-weight: 900;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #000;
    text-decoration: none;
}

.navbar-default {
  background-color: rgb(254, 102, 196);
  border-color: transparent;
}
/* ADDED PADDING IN NAVBAR */
.navbar {
  padding: 15px;
  -webkit-transition: background .8s ease-out,padding .8s ease-out;
  -moz-transition: background .8s ease-out,padding .8s ease-out;
  transition: background .8s ease-out,padding .8s ease-out;
}
/* CLASS FOR REMOVING PADDING IN NAVBAR*/
.navbar-pad-original {
  padding: 0px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}


#home {
  background: url(olympia-aerial.jpg) no-repeat center center;
  padding: 0;
  -webkit-background-size: cover;
  background-size: cover;
  -moz-background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

#home .overlay {
    background-color: rgba(3, 3, 3, 0.4);
    min-height: 600px;
}

/* Take uppercase conversion off of button text */
.btn {
  text-transform: unset !important;
}

